venv/
.upm/
__pycache__/
node_modules/
.replit
replit.nix
.config/
.artifacts/
artifacts/
lib/
scripts/
.npmrc
.replitignore
pnpm-lock.yaml
pnpm-workspace.yaml
replit.md
tsconfig.base.json
tsconfig.json
package.json
attached_assets/
