*
!*/
!.gitignore
!*.html
!firebase-messaging-sw.js
!js/**
!css/**
!functions/index.js
!functions/package.json
!functions/package-lock.json
functions/node_modules
!.github/**
!firebase.json
!.firebaserc